---
layout: default
---

<h1>{{ site.heading }}</h1>
<div class="intro_text">
  {{ site.intro }}
</div>

{% if site.head_btn_link and site.head_btn_text %}
  <p>
    <a href="{{ site.head_btn_link }}" class="cta-button--centered">{{ site.head_btn_text }}</a>
  </p>
{% endif %}

{% for client in site.data.clients %}
  <section>
    <h2>{{ client.name }}</h2>
    {% if client.url %}<h4><a href="{{ client.url }}" target="_blank">View website</a></h4>{% endif %}
    {{ client.description }}
    {% for work in client.work %}
      <div class="row">
        {% for row in work.row %}
          <div class="{% if forloop.length > 1 %}row__item--column row__item--{{ forloop.length }} {% if forloop.last %}row__item--last {% endif %}{% endif %}row__item{% if row.type == 'video' %} video{% endif %}">
            {% case row.type %}
            {% when "image" %}
              <img src="{{ row.url }}" alt="{{ client.name }}">
            {% when "video" %}
              {% if row.url %}
                <iframe src="http://player.vimeo.com/video/{{ row.url }}" width="{% if row.width %}{{ row.width }}{% else %}1140{% endif %}" height="{% if row.height %}{{ row.height }}{% else %}641{% endif %}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              {% else %}
                {{ row.embed }}
              {% endif %}
            {% endcase %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </section>
{% endfor %}

{% if site.foot_btn_link and site.foot_btn_text %}
  <p>
    <a href="{{ site.foot_btn_link }}" class="cta-button--centered">{{ site.foot_btn_text }}</a>
  </p>
{% endif %}