.row {
	margin: 1em 0;
	overflow: hidden;
	.row__item.row__item--column {
		@media (min-width: 60em) {
			float: left;
			margin: 0 2% 0 0;
		}
	}
	.row__item--column.row__item--last {
		@media (min-width: 60em) {
			margin-right: 0;
		}
	}
}

.row__item {
	margin: 1em 0;
}

.row__item--2 {
	@media (min-width: 60em) {
		width: 49%;
	}
}

.row__item--3 {
	@media (min-width: 60em) {
		width: 32%;
	}
}